{% extends 'base.html' %}

{% block title %} Indice {% endblock %}

{% block content %}
    <form action="/">
        <table class="tasks_table">
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha</th>
            </tr>
            {% for data in registros %}
            <tr>
                <td>{{data[0]}}</td>
                <td>{{data[1]}}</td>
                <td>{{data[2]}}</td>
            </tr>
            {% endfor %}
        </table>
        <br/>
        <a class="Boton_añadir" href="/newtask">Añadir Tarea</a>
    </form>
{% endblock %}