<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nueva Tarea</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>Nueva tarea</header>
    <form action="/newtask" method="post"><br/>
        <input type="text" name="title" placeholder="Título">
        <input type="text" name="desc" placeholder="Descripcion">
        <input type="date" name="date"><br/>
        <br/>
        <input type="submit" value="Enviar">
    </form>

    <footer>
        &copy; 2020 - Todos los derechos reservados
    </footer>

</body>
</html>